@import "../../style/helpers/variables.scss";

.link {
    border-radius: $border-radius;
    padding: rem(5) rem(10);
    
    &:hover {
        transition: 0.3s;
    }
}

.home {
    width: fit-content;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        width: rem(10);
        height: rem(10);
        background-image: url("../../assets/ico/icoArrowLightGrey.svg");
        background-position: center;
        background-repeat: no-repeat;
        margin-right: rem(5);
    }
}